<!DOCTYPE html>

  <head>

    <title>Thunderstorm</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheet/thunderstorm.css">

  </head>

  <body>

    <header>

      <p>

        <a class="app_title">Thunderstorm</a>

      </p>

      <nav>

        <ul class="feature__links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="https://github.com/galaxygoldfish/thunderstorm/issues/new">Feedback</a></li>
          <li><a href="https://github.com/galaxygoldfish/thunderstorm">GitHub</a></li>
        </ul>

      </nav>

      <a class="cta" href="https://github.com/galaxygoldfish/thunderstorm/releases/download/v1.1/app-release.apk"><button>Download</button></a>

    </header>

    <p class="bold_app_header">
      
      <a class="header_text">Your new favorite mobile weather app.</a>
    
    </p>

    <div class="image_preview_container" style="float:center;">

        <img class="city_homescreen_image_preview" src="../media/amsterdam-homescreen-light.png" width="200px">

        <img class="city_list_image_preview" src="../media/city-list-gradient-light.png" width="200px">

        <img class="city_search_image_light" src="../media/city_search_popular_light.png" width="200px">

        <img class="welcome_image_preview" src="../media/thunderstorm-welcome-screen.png" width="200px">

        <img class="settings_image_preview" src="../media/settings-main-light.png" width="200px">

    </div>
    
    <p class="paragraph_one_parent">

      <a class="features_header">All the features that you need, without ads</a>

    </p>

  </body>

</html>